/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  /* background-color: var(--ifm-background-color-everblush-lighter); */
  background-image: url("/img/logo_kebangsaan_warga_slowy.svg");
  background-size: cover; /* biar full */
  background-position: center; /* posisi tengah */
  background-repeat: no-repeat; /* biar tidak berulang */

  padding-bottom: 100px;
  padding-top: 40px;
}

.heroBanner {
  padding: 1.5rem 0 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  /* background-image: url("/img/banner_xvr.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /**/
  /* background-color: #303846; */
  /* background-color: rgba(20, 27, 30, 0.8); /* 0.8 = agak transparan */

  color: white;
  /* background: linear-gradient(135deg, #1f2937 0%, #303846 60%, #27ae60 100%); */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background-position: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.codeBanner {
  margin-top: 10px;
  display: block;
}

@media (max-width: 768px) {
  .codeBanner {
    display: none;
  }
  .header {
    /* background-color: var(--ifm-background-color-everblush-lighter); */
    padding-bottom: 60px;
    padding-top: 20px;
  }
}
